/*
01. Ball content
02. Woo Chat bot Message container
    -A Link Item
    -B Loading
03. Woo Chat bot Message Editor
04. Woo Chat bottom Tab Nav Editor
05. Tab Feature Product
06. Tab Cart
07. Product Details
*/
/*********************
01. ball content wrapper
**********************/
.kbx-bot-board-container {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .30);
}

.kbx-bot-board-container:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -26px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 0 solid transparent;
    border-top: 30px solid #ffffff;
}

/******************************
02. Woo Chat bot Message container
*********************************/

.kbx-bot-header {
    background: #1f8ceb;
}

.kbx-bot-header h3 {
    color: #ffffff;
    font-size: 18px !important;
    letter-spacing: 1px;
}

.kbx-bot-content {
    background: url("../../../assets/images/message-bg.png") no-repeat top center;
}

ul.kbx-bot-messages-container li {
    font-size: 14px;
}

ul.kbx-bot-messages-container > li.kbx-bot-msg {
    padding-left: 50px;
}

ul.kbx-bot-messages-container > li.kbx-bot-user-msg {
    padding-right: 50px;
}

ul.kbx-bot-messages-container > li .kbx-bot-avatar, .kbx-bot-agent-profile .kbx-bot-widget-avatar {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

ul.kbx-bot-messages-container > li.kbx-bot-msg .kbx-bot-avatar, .kbx-bot-agent-profile .kbx-bot-widget-avatar  {
    left: 0;
}

ul.kbx-bot-messages-container > li.kbx-bot-user-msg .kbx-bot-avatar {
    right: 0;
}

ul.kbx-bot-messages-container > li > .kbx-bot-paragraph, .kbx-bot-agent-profile .kbx-bot-bubble {
    padding: 8px 15px;
    max-width: 90%;
    box-shadow: 0 2px 8px #bfbfbf;
    line-height: 150%;
}

ul.kbx-bot-messages-container > li.kbx-bot-user-msg .kbx-bot-paragraph {
    text-align: right;
    float: right;
}

ul.kbx-bot-messages-container > li.kbx-bot-user-msg .kbx-bot-paragraph {
    background-color: #eaf1f6;
    color: #494949;
    margin-left: 10%;
    border-radius: 10px 10px 0 10px;
}

ul.kbx-bot-messages-container > li.kbx-bot-msg .kbx-bot-paragraph, .kbx-bot-agent-profile .kbx-bot-bubble {
    background-color: #1f8ceb;
    color: #ffffff;
    border-radius: 0 10px 10px 10px;
}

ul.kbx-bot-messages-container li:first-child.kbx-bot-msg .kbx-bot-paragraph {
    background-color: transparent;
    color: #494949;
}
ul.kbx-bot-messages-container > li > .kbx-bot-paragraph h3 {
    color: #ffffff;
}
/************ 02 (A). Link Item *************/
span.kbx-bot-article-category,
span.kbx-bot-support-items,
span.kbx-bot-wildcard,
span.kbx-bot-find-more,
span.kbx-bot-suggest-email,
span.kbx-bot-reset-btn,
#kbx-bot-loadmore {
    color: #000000;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    background-size: 200% auto;
    box-shadow: 0 5px 5px #c3c3c3;
    border: 1px solid #ffffff;
}

span.kbx-bot-article-category:hover,
span.kbx-bot-support-items:hover,
span.kbx-bot-wildcard:hover,
span.kbx-bot-find-more:hover,
span.kbx-bot-suggest-email:hover,
span.kbx-bot-reset-btn:hover,
#kbx-bot-loadmore:hover {
    background-position: right center;
    box-shadow: none;
}

/**************** 02. (B) Loading  **********/
ul.kbx-bot-messages-container > li .kbx-bot-paragraph img.kbx-bot-comment-loader {
    background-color: #fff;
    padding: 1px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

/*******************************
03. Woo Chat bot Message Editor
**********************************/
.kbx-bot-editor-container {
    background-color: #f2f6f9;
}

.kbx-bot-editor-container input, .kbx-bot-editor-area input::-webkit-input-placeholder, .kbx-bot-editor-area input::-moz-placeholder, .kbx-bot-editor-area input:-ms-input-placeholder, .kbx-bot-editor-area input:-moz-placeholder {
    color: #565867;
}

/*******************************
04. Woo Chat bottom Tab Nav Editor
**********************************/
.kbx-bot-footer {
    padding: 0;
}

.kbx-bot-tab-nav ul li a[data-option="recent"] {
    background-position: -7px -47px;
}

.kbx-bot-tab-nav ul li a[data-option="cart"] {
    background-position: -47px -47px;

}

.kbx-bot-tab-nav ul li a[data-option="chat"] {
    background-position: -82px -42px;
}

.kbx-bot-tab-nav ul li a[data-option="help"] {
    background-position: -129px -47px;

}

.kbx-bot-tab-nav ul li a[data-option="support"] {
    background-position: -169px -47px;
}

.kbx-bot-tab-nav ul li a[data-option="chat"]:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid #1f8ceb;
    left: -9px;
    right: -9px;;
    bottom: -9px;
    top: -9px;
}

.kbx-bot-tab-nav ul li.kbx-bot-operation-active a:before, .kbx-bot-tab-nav ul li:hover a:before {
    border: 2px solid #1f8ceb;
}

/***************************
05. Tab Feature Product
***************************/
.kbx-bot-agent-profile {
    position: relative;
    padding-left: 50px;
    box-sizing: border-box;
    word-wrap: break-word;
    list-style: none;
    display: block;
    clear: both;
    line-height: 150%;
    min-height: 50px;
    margin: 0 0 10px 0;
}

.kbx-bot-widget-title {
    color: #353535;
    text-align: center;
    padding-bottom: 10px;
}

/**************************
06. Tab Cart
*************************/
.kbx-bot-cart-header {
    background-color: #F5F5F5;
}

.kbx-bot-cart-single {
    background-color: rgba(245, 245, 245, 0.1);
    border-bottom: 1px solid #dddddd;
}

.kbx-bot-cart-single:nth-child(2n+1) {
    background-color: rgba(245, 245, 245, 0.5);
}

.kbx-bot-cart-footer div a {
    text-decoration: none;
    background: #1f8ceb;
    color: #ffffff;
}

.kbx-bot-cart-footer div a:hover, .kbx-bot-cart-footer div:last-child a {
    background: #1c7ed4;
}

/**************************
07. Product Details
***************************/
.kbx-bot-product-details {
    box-shadow: 0 0 10px #ccc;
    background-color: #ffffff;
}

.kbx-bot-product-cart-button input[type="button"] {
    border: 1px solid #e4e5e7;
    background: #1f8ceb;
    color: #ffffff;
    box-shadow: 0 0 2px #999;
}

.kbx-bot-product-cart-button input[type="button"]:hover {
    background: #1c7ed4;
    color: #ffffff;
}