/*********************
ball content wrapper
**********************/
.kbx-bot-container {
    width: 420px;
    border-radius: 5px;
}

/******************************
kbx bot Message container
*********************************/

.kbx-bot-header {
    background-color: rgba(38, 176, 187, 0.90);

}

.kbx-bot-header h3 {
    color: #ffffff;
    font-size: 18px !important;
    letter-spacing: 1px;
}

.kbx-bot-content {
    background: url("../../../assets/images/tpl-two-bg.png") no-repeat center center;
    padding-left: 35px;
    padding-right: 35px;
}

.kbx-bot-comment-loader {
    margin: 0 auto;
    display: block;
}

ul.kbx-bot-messages-container {
    padding: 0;
    margin: 0;
}

ul.kbx-bot-messages-container li {
    font-size: 14px;
}

ul.kbx-bot-messages-container > li.kbx-bot-user-msg:after, ul.kbx-bot-messages-container > li .kbx-bot-products:after {
    clear: both;
    display: block;
    content: "";
    height: 1px;
}

ul.kbx-bot-messages-container > li > .kbx-bot-avatar {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.62);
    width: 25px;
    height: 25px;
    margin-top: -17px;
    top: 50%;
}

ul.kbx-bot-messages-container > li.kbx-bot-msg .kbx-bot-avatar {
    left: -35px;
}

ul.kbx-bot-messages-container > li.kbx-bot-user-msg .kbx-bot-avatar {
    right: -35px;
}

ul.kbx-bot-messages-container > li > .kbx-bot-paragraph {
    padding: 10px;
    display: block;
    background-color: rgba(38, 176, 187, 0.75);
    position: relative;
    box-sizing: border-box;
    /*width: 374px;*/
}

ul.kbx-bot-messages-container > li > .kbx-bot-paragraph:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -7px;

}

ul.kbx-bot-messages-container > li.kbx-bot-user-msg > .kbx-bot-paragraph:before {
    right: -10px;
    border-top: 7px solid transparent;
    border-left: 10px solid rgba(38, 176, 187, 0.75);
    border-bottom: 7px solid transparent;
}

ul.kbx-bot-messages-container > li.kbx-bot-msg > .kbx-bot-paragraph:before {
    left: -10px;
    border-top: 7px solid transparent;
    border-right: 10px solid rgba(38, 176, 187, 0.75);
    border-bottom: 7px solid transparent;
}

ul.kbx-bot-messages-container li:first-child.kbx-bot-msg .kbx-bot-paragraph {
    color: #FFF;
}

ul.kbx-bot-messages-container > li.kbx-bot-user-msg .kbx-bot-paragraph {
    text-align: right;
    border-radius: 2px;
    color: #FFF;
}

ul.kbx-bot-messages-container > li.kbx-bot-msg .kbx-bot-paragraph {
    color: #FFF;
    border-radius: 2px;
}

/*******************************
kbx bot bottom Tab Nav Editor
**********************************/
.kbx-bot-footer {
    background-color: #26B0BB;
    /*margin: 0 40px;*/
}

.kbx-bot-tab-nav ul li a {
    background-color: #2a3c8a;
}

.kbx-bot-tab-nav ul li a.kbx-bot-operation-active {
    background-color: #ae34ff;
}

/*******************************
kbx bot Message Editor
**********************************/

.kbx-bot-editor-container {
    border-top: 1px solid #1398a2;

}

.kbx-bot-editor-container input, .kbx-bot-editor-area input::-webkit-input-placeholder, .kbx-bot-editor-area input::-moz-placeholder, .kbx-bot-editor-area input:-ms-input-placeholder, .kbx-bot-editor-area input:-moz-placeholder {
    color: #ffffff;
}

/**************Tab Feature Product***************/
.kbx-bot-widget-title {
    color: #353535;
    text-align: center;
    padding-bottom: 10px;
}

/**************Tab Cart***************/
.kbx-bot-cart-header {
    background-color: #F5F5F5;
}

.kbx-bot-cart-single {
    background-color: rgba(245, 245, 245, 0.1);
    border-bottom: 1px solid #dddddd;
}

.kbx-bot-cart-single:nth-child(2n+1) {
    background-color: rgba(245, 245, 245, 0.5);
}

.kbx-bot-cart-footer div a {
    text-decoration: none;
    background: #70aca9;
    color: #ffffff;
}

.kbx-bot-cart-footer div a:hover, .kbx-bot-cart-footer div:last-child a {
    background: #5a8c89;
}

/****** Product Details*******/
.kbx-bot-product-details {
    box-shadow: 0 0 10px #ccc;
    background-color: rgba(255, 255, 255, 0.9);
}

.kbx-bot-product-cart-button input[type="button"], #kbx-bot-loadmore {
    border: 1px solid #26B0BB;
    background: #26B0BB;
    color: #ffffff;
    box-shadow: 0 0 2px #999;
}

.kbx-bot-product-cart-button input[type="button"]:hover, #kbx-bot-loadmore:hover {
    background: #229da7;
    color: #ffffff;
}

/************************
Product details
*******************************/

.active-kbx-bot-product-details {
    margin-right: -5px;
}

@media screen and (max-width: 767px) {
    .kbx-bot-container {
        width: 270px;
    }

}

