/*
    1.ShortCode Grid
    2.Woo Chat bot Message container


*/
/**********************************************************************************
1. ShortCode Grid
**********************************************************************************/
.kbx-bot-shortcode-template-03 {
    font-family: "quicksandregular", "Helvetica Neue", Helvetica, Aria;
    height: auto;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .10);
    background: #ffffff;
}

.kbx-bot-shortcode-row {

    box-shadow: 0 0 10px rgba(102, 122, 255, 0.10);
}



.kbx-bot-shortcode-template-03 .kbx-bot-container {
    width: 100%;
    background-color: #f6f6fc;
}

.kbx-bot-container {
    box-shadow: 0 0 50px rgba(102, 122, 255, 0.50);
}

/***************************************************************************************************
2. Woo Chat bot Message container
****************************************************************************************************/
.kbx-bot-header {
    background: #667aff;
    border-radius: 0 !important;
}

.kbx-bot-header h3 {
    color: #ffffff;
    font-size: 18px !important;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1px;

}

.kbx-bot-content {

}

.kbx-bot-comment-loader {
    margin: 0 auto;
    display: block;
}

ul.kbx-bot-messages-container {
    padding: 0 !important;
    margin: 0;
}

ul.kbx-bot-messages-container > li:first-child .kbx-bot-agent {
    display: none !important;
}

ul.kbx-bot-messages-container > li, .kbx-bot-agent-profile {
    padding-left: 22px;
    font-size: 14px;
}

ul.kbx-bot-messages-container > li .kbx-bot-comment-loader {
    margin: 0 auto;
    display: block;
}

ul.kbx-bot-messages-container > li > .kbx-bot-avatar, .kbx-bot-agent-profile .kbx-bot-widget-avatar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.62);
    background-color: #70aca9;
    width: 40px;
    height: 40px;
}

ul.kbx-bot-messages-container > li > .kbx-bot-agent, ul.kbx-bot-messages-container > li > .kbx-bot-paragraph, .kbx-bot-agent-profile .kbx-bot-bubble, .kbx-bot-widget-agent {
    display: table;
    position: relative;
    padding-left: 30px;
    padding-right: 10px;

}

ul.kbx-bot-messages-container > li > .kbx-bot-agent, .kbx-bot-widget-agent {
    display: table !important;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color:#667aff;
    color: #ffffff;
    font-size: 10px;
    line-height: 12px;
    border-radius: 10px 10px 0px 10px;
}

ul.kbx-bot-messages-container > li > .kbx-bot-paragraph, .kbx-bot-agent-profile .kbx-bot-bubble {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #36d67c;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
}

ul.kbx-bot-messages-container > li.woo-chat-user-msg > .kbx-bot-paragraph {
    background-color: #3a98d8;
}

ul.kbx-bot-messages-container > li.woo-chat-user-msg::before {
    left: 19px;
}

ul.kbx-bot-messages-container > li.kbx-bot-msg-flat {
    color: #ffffff;
}
ul.kbx-bot-messages-container > li .kbx-bot-paragraph img.kbx-bot-comment-loader {
    background-color: #fff;
    padding: 1px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
}

/********* Footer ****************/
.kbx-bot-footer {
    border-radius: 5px;
}

/******Message Editor ***********/

.kbx-bot-editor-area {
    border-top: 1px solid #deebe9;
    border-radius: 0 0 5px 5px;
    margin: 0;
    padding: 6px 15px;
}

.kbx-bot-editor-area input {
    display: inline-block;
    border: none;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    background-color: transparent;
    color: #565867;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.kbx-bot-editor-area input:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
}

.kbx-bot-editor-area input::-webkit-input-placeholder, .kbx-bot-editor-area input::-moz-placeholder, .kbx-bot-editor-area input:-ms-input-placeholder, .kbx-bot-editor-area input:-moz-placeholder {
    color: #565867;
}

.kbx-bot-editor-area button {
    display: inline-block;
    height: 50px;
    background: transparent url("../../../assets/images/send-button.png") no-repeat center;
    color: transparent;
    width: 20%;
    cursor: pointer;
    margin: 0 0 0 -8px;
    padding: 0;
    border: none;
    outline: none;
}

.kbx-bot-editor-area button:hover {
    background: transparent url("../../../assets/images/send-button.png") no-repeat center;
}

.kbx-bot-editor-area button:focus {
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent url("../../../assets/images/send-button.png") no-repeat center;
}


